body {
    background-color: #000000;
}

.title{
	width: 100%;
}

.ntext{
	color: #FFFFFF;
}

#atcolumn {
    float: left;
    width: 100%;
}

#decolumn {
    float: right;
    width: 100%;
}

.dsel {
	border-radius: 5px;
	height: 100%;
	width: 100%;
}

.small {
	width: 50px;
}

.dado{
	border-radius: 1em;	
}

.divFix {
	width: 90%;
}

.btn {
	
	width: 100%;
	height: 100%;
	margin-top: 100%;
	/*
	left: 45%;
	top: 49%;
	position: absolute;
	
	*/
	border-radius: 13px;
}
.btn:focus,input:focus {
	outline:0!important;
}
.giro {
-webkit-animation: cssAnimation 1.8542s infinite linear;
-moz-animation: cssAnimation 1.8542s infinite linear;
-o-animation: cssAnimation 1.8542s infinite linear;
}
@-webkit-keyframes cssAnimation {
from { -webkit-transform: rotate(0deg) scale(1.3) skew(1deg) translate(0px); }
to { -webkit-transform: rotate(360deg) scale(1.3) skew(1deg) translate(0px); }
}
@-moz-keyframes cssAnimation {
from { -moz-transform: rotate(0deg) scale(1.3) skew(1deg) translate(0px); }
to { -moz-transform: rotate(360deg) scale(1.3) skew(1deg) translate(0px); }
}
@-o-keyframes cssAnimation {
from { -o-transform: rotate(0deg) scale(2) skew(1deg) translate(0px); }
to { -o-transform: rotate(360deg) scale(2) skew(1deg) translate(0px); }
}

.dados{
	border-radius: 25%;
	margin-top: 10px;
	width: 15%;
	height: 15%;
	margin-right: 2%;
	margin-left: 2%;
}

.saca {
	color: #d4e355;
	font-style: oblique;
	font-family: "Times New Roman";
}


.hide {
	display: none;
}

#comboIm {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	/*opacity: 0.8;*/
  	z-index: 999999999;
}




@media (max-width: 750px) {


	.btn {
		width: 170%;
		margin-top: 170%;
		margin-left: -29%;
	}

	.dados {
		width: 30%;
		height: 30%;
	}


}